.loginDisplay{
    width:100%;
}

.formSignin { 
    width: 100%;
    max-width: 400px;
    padding: 15px;
    height: 100vh;
    margin: auto;
}

.link{
    cursor: pointer;
    color: rgb(70, 70, 70);
    text-decoration: underline;
}

.link:hover {
    cursor: pointer;
    color: rgb(90, 90, 90);

}