.textOverflow{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.taskTitleWidth{
    width: calc(100% - 4rem);
}

.taskContent{
    width: calc(100% - .9rem);
}

.task:hover{
    background-color: rgba(24, 24, 24, 0.062);
}
.task{
    cursor: pointer;
}